<%- include('partials/header'); -%>

<!-- challenge 4 tha ki header and footer ko views flder se partials foledr ke andar daalna hainpartials subfolder hain -->

<!-- challenge 3 tha include kar header file ko use karne ke liye header ke files ko  -->

    <h1>Home</h1>
     <p> <%= startingtext %></p>
     <!-- yeh joh starting text hain usme value hhumlog daal rahe hainn render ka yse karke  -->
     <!-- yeh challenge no. 2 tha isme sirf e paragrapgh humlog ko print karna tha isiliye humlog ne key value pair 
     ka use kiya javascript key value pair ka use kiya humlogne -->

     <!-- challenge 12 tha ki console karna hain input ko but home.ejs ke through and iske liye humlog
     us kar rahe java script key value pair ka -->
  

    

   <!-- challenge no. 15 tha ki apneko post and title ko home screen par poat karna hain isiliye humlog sidha value ko 
   print karenge home page par -->

   <!-- <% posts.forEach(function(post){ %>

    <h1> <%= post.posttitle %></h1>
    <p> <%= post.bodypost %></p>
    <%  }) %> -->
    <!-- yaha par humlog directly print karenge js object main se key value pair ka use karke 
    posttitle and bodypost ko print karenge humlog with help of the for each -->


   

   
   
     
<%- include('partials/footer'); -%>
